
.memory {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: auto;
  user-select: none;
}

.restartGame {
  background-color: red;
  border-radius: 5px;
  margin: auto;
  margin-top: 30px;
  width: 200px;
  text-align: center;
}

.restartGame:hover {
  cursor: pointer;
}